/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery-item {
    width: 300px;
    height: 300px;
    object-fit: cover;
    max-width: 30%;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.bookmarks {
    margin-top: 2rem;
    display: flex; /* Flexbox aktivieren */
    flex-direction: column; /* Vertikale Ausrichtung */
    align-items: center; /* Horizontal zentrieren */
    text-align: center; /* Text zentrieren */
}

.bookmarks h2 {
    color: #4CAF50;
}

.bookmarks ul {
    list-style-type: none;
    padding: 0;
}

.bookmarks li {
    margin: 0.5rem 0;
}

.bookmarks a {
    color: #333;
    text-decoration: none;
}

.bookmarks a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

.gallery-item {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
}
